
#musicTitle{
    
    text-align: center;  
     
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 48px;
}

p{
    color: white;
    text-align: center;
    font-size: 18;
    font-family: 'Oswald', sans-serif;
}

a:link, a:visited {
    
    color: lightgrey;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
   
   .main video {
       position: fixed;
       right: 0;
       bottom: 0;
       min-width: 100%;
       min-height: 100%;
       z-index: -1;
     }
   
     .main img{
        position: fixed;
        right: 300px;
        bottom: 150px;
        width: 250px;
        z-index: -1;
     }

     #lofi {
        align-items: center;
        transform: translate(335%,450%);
     }

     #eminemBeat{
        align-items: center;
        transform: translate(234%,850%);
     }

     .menu {
       display: flex;
       justify-content: center;
       align-items: center;
       position: absolute;
       left: 50px;
       bottom: 75px;
       z-index: 10;
       
     }
   
     .menu ul {
       position: relative;
       list-style: none;
     }
     
     .menu ul li {
       padding-bottom: 30px;
     }
     
     .menu ul li a {
       text-decoration: none;
       font-size: 36px;
       color: white;
     }
     
     .menu ul li a:hover {
       color: #404764;
       border-bottom: 2px #404764 solid;
     }
     